*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0;
    background-color: #181B24;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}



.cabeçalho{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #14161D;
    width: 100%;
    height: 95px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 81px;
}

.logo{
    width: 60px;
    height: 62.3px;
    margin: 16px;
}

.large-input-box{
    display: flex;
    left: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #484848;
    width: 670px;
    border-radius: 25px;
    padding: 2px 25px 2px 15px;
}

#descricao{
    width: 90%;
    background-color: #484848;
    vertical-align: middle;
    color: #FFFFFF80;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: "Inter";
}

#criar-post{
    width: 670px;
    height: 142px;
    border-radius: 10px;
    background-color: #181B24;
    padding:20px 20px 22px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px #484848;
    left: 145px;
    position: relative;
    top: 37px;
}

#thinking-box{
    width: 100%;
    background-color: #181B24;
    vertical-align: middle;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: "Inter";
}

.options-criar-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94px;
    height: 24px;
    position: relative;
    top: 50px;
    padding: 0 2px 0 2px;
}

.post-button{
    width: 98px;
    height: 40px;
    border-radius: 10px;
    background-color: #22A2F2;
    color: black;
    align-self: flex-end;
    position: relative;
    top:20px;
    border: none;
    cursor: pointer;
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    font-weight: bold;
}

.users-container{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 16px;
    left: 997px;
    top: 137px;
    width: 310px;
    height: 370px;
    color: white;
}

.users-container-text-desktop{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0;
}
.users-container-text-mobile{
    display: none;
}

.adicionar-usuario-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.other-username{
    width: 126px;
height: 30px;

}

.adicionar-button{
    width: 90px;
    height: 35px;
    border-radius: 10px;
    background-color: #222222;
    color: #22A2F2;
    position: relative;
    left: 70px;
    border: none;
    cursor: pointer;
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    font-weight: bold;
}

.button-for-image{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.post-container{
    color: white;
    width: 670px;
    background-color: #181B24;
    display: flex;
    flex-direction: column;
    padding: 47px 73px 32px 97px;
    border: solid 1px #484848;
    border-radius: 10px;
    position: relative;
    left: 192px;
    top: -60px;
    align-items: flex-start;
    height: 709px;
    justify-content: center;
}
.user-and-picture{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    gap: 20px;
}

.post-by{
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.options-post{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 156px;
    height: 40px;
    flex-wrap: wrap;
    gap: 16px;
}

.texto-post{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.bloco-texto-post{
    width: 463px;
    height: 39px;
    margin-top: 27px;
}

.link_usuario_texto{
    font-family: Inter;
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.lateral-button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    position: sticky;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imagem{
    max-width: 500px;
    height: auto;
}

.size-icons-box{
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: sticky;
    top: 142px;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    left: 36px;
}

#link_usuario_texto_post{
    font-size: 24px;
}
@media screen and (max-width:600px) {
    
    body{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    .cabeçalho{
    width: 360px;
    height: 77px;
    }
    .logo{
    width: 50px;
    height: 48.4375px;
    top: 11px;
    left: 20px;
    }

    .large-input-box{
    width: 246px;
    height: 36px;
    top: 17px;
    left: 87px;
    }

    .imagem{
    max-width: 200px;
    height: auto;   
    }

    .cabeçalho{
        order: -1;
        gap: 17px;
        padding: 10px;
    }

    .logo{
        margin:1px 7px 7px 10px;
    }
    .users-container{
        width: 100%;
        height: 125px;
        order: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        flex-direction: row;
        column-gap: 14px;
        flex-wrap: wrap;
        align-items: center;
    }
    .users-container-text-desktop{
    display: none;
    }

    .users-container-text-mobile{
    display: inline;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0;
    width: 238px;
    height: 29px;
    margin: 6px 70px 0 17px;    

    }

    .adicionar-usuario-container{
        width: 70px;
        height: 70px;
        flex-direction: column;
        gap:4px;
        margin-bottom: 4px;
        margin-left: 10px;
    }

    .foto-perfil{
        margin-left: 22px;
        margin-right: 22px;
    }

    .foto-perfil-post{
        width: 30px;
        height: 30px;
    }
    .adicionar-button{
        display: none;
    }
    .link_usuario_texto{
        width: 100%;
        font-size: 16px;
    }

    .size-icons-box{
        order: 3;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    #criar-post{
        order: 1;
        width: 300px;
        height: 100px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 6px 1px 1px 11px;
        margin-top: 10px;
        margin-bottom: 14px;
    }

    .options-criar-post{
        top:37px
    }

    .post-button{
        width: 74px;
        height: 31px;
        top: 5px;
        right: 14px;
    }
    .post-container{
        order: 2;
        width: 296px;
        height: 381px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        align-items: center;
    }
    .botao-interacao-post{
        width: 25px;
        height: 25px;
    }

    .options-post{
        gap:8px;
        flex-wrap: nowrap;
    }

    .size-icons-box{
    flex-direction: row;
    gap: 50px;
    margin: 15px 65px 15px 50px;
    }

    #link_usuario_texto_post{
        width: 75px;
        height: 20px;
        font-size: 14px;
        align-self: center;
    }

    .user-and-picture{
        gap: 0;
        height: 100%;
        align-items: center;
    }

    .bloco-texto-post{
        width: 200px;
        margin-top: 19px;
    }

    .post-by{
        width: 200px;
        gap: 0;
        margin-top: 4px;
    }

    .button-for-image{
        width: 25px;
        height: 25px;
        align-self: center;
    }
}