body{
    background-color: #181B24;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.principal-text{
    font-family: "Inter";
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    width: 84%;
    margin-top: 17px;
    margin-bottom: 0;
}
.principal-div{
    background-color: white;
    width: 43%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 50px;
    margin: 216.5px 173px 216px 0px;
    padding-top: 20px;
}

.inside-principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
}
.input-box{
    font-family: "Inter";
    background-color: rgb(255, 255, 255);
    width: 97%;
    height: 32.5px;
    gap: 4px;
    border-radius: 7px;
    border: 1px solid #222222;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}
.titulo-input{
    margin: 0;
    padding-left: 4px;
    padding-right: 3px;
    position: relative;
    font-family: Inter;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: white;
    top: 5px;
    left: 18.5px;
}

.descricao{
    font-family: "Inter";
    padding: 0px 15px 0px 15px;
    font-family: Inter;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0%;
    color: #46494C80;
    outline: none;
    border: none;
}
.all-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 75%;
    justify-content: center;
    align-content: center;
}

.termos{
    font-family: "Inter";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.cadastrar-button{
    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
    text-align: center; 
    color: white;
    background-color: #105F74;
    width: 100%;
    height: 49px;
    margin-top: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.login-button{
    font-family: "Inter";
    color: #105F74;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

#img_principal{

width: 212px;

height: 232px;

}

.button-for-image{
    border: none; 
    background: none; 
    cursor: pointer; 
    padding: 0;
}

#img_principal{

width: 293px;

height: 304px;
}

.recovery-password{
    width: 100%;
    text-align: end;
    font-family: "Inter";
    color: #105F74;
}

.entrar-button{
    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #105F74;
    width: 100%;
    height: 49px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}

.registrar-button{
    font-family: "Inter";
    color: #105F74;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
}

.termos{
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    max-width: 400px;
}

.button-for-image{
    border: none; 
    background: none; 
    cursor: pointer; 
    padding: 0;
}


@media screen and (max-width: 600px){
    body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:#181B24;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    gap: 0;
    }
    #img_principal{
        width: 80px;
        height: 83px;
        margin: 26px 0 0 0;
    }
    .principal-div{
        width: 296px;
        height: 644px;
        margin: 91px 32px 121px 32px;
        gap: 11px;
    }

    .principal-text{
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    }

    .recovery-password{
        display: none;
    }
    .termos{
        font-size: 12px;
    }

    .all-inputs{
        gap: 38px;
    }

    .registrar-button{
        position: relative;
        bottom: 14px;
    }
    .descricao{
        font-size: 15px;
    }
    .termos{
    margin-top: 15px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    width: 94%;
    }
}

