*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-color: #181B24;
    width: 100%;
    height: 100%;
    font-family: "Inter";
    padding-top: 216px;
    padding-bottom: 216px;
    padding-left: 173px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cadastro-text{font-family: "Inter";font-size: 24px;line-height: 100%;text-align: center;width: 108px;height: 29px;opacity: 1;margin-top: 50px;}
.cadastro-div{
    font-family: "Inter";
    background-color: white;
    width: 547px;
    height: 767px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 50px;
    padding-bottom: 50px;
}

.inside-cadastro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 57px;
}
.input-box{
    font-family: "Inter";
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 50.5px;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #222222;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
}
.titulo-input{
    font-family: "Inter";
    margin: 0;
    padding-left: 4px;
    padding-right: 3px;
    position: relative;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    background-color: white;
    top: 5px;
    left: 18.5px;
}

.descricao{
    font-family: "Inter";
    padding: 9px 13px 11px 13px;
    font-family: Inter;
    font-weight: 400;
    width: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #46494C80;
    outline: none;
    border: none;
}
.all-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 400px;
}

.termos{
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    
}

.cadastrar-button{
    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* letter-spacing: 0px; */
    text-align: center;
    /* vertical-align: middle; */
    color: white;
    background-color: #105F74;
    width: 400px;
    height: 49px;
    margin-top: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.login-button{
    font-family: "Inter";
    color: #105F74;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#img_cadastro{

    width: 293px;
    height: 304px;

}

.button-for-image{
    border: none; 
    background: none; 
    cursor: pointer; 
    padding: 0;
}


@media screen and (max-width: 600px){
    body{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    background-color:#181B24;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    }
    #img_cadastro{
        width: 80px;
        height: 83px;
    }
    .cadastro-div{
        width: 296px;
        height: 644px;
        gap: 0;
    }

    .cadastro-text{
        font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 24px;

    }

    .all-inputs{
    width: 270px;
    height: 363px;
    gap: 18px;
    opacity: 1;
    top: 69px;
    left: 13px;
    justify-content: flex-start;
    }

    .titulo-input{
        top:11px;
    }

    .inside-cadastro{
    width: 250.5px;
    height: 51px;
    border-radius: 8px;
    gap: 4px;
    opacity: 1;

    }

    .input-box{
        width: 250.5px;
    height: 51px;
    opacity: 1;
    border-width: 1px;

    }

    .descricao{
    width: 203.5px;
    height: 43px;
    border-radius: 6px;
    gap: 8px;
    opacity: 1;
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 13px;
    padding-left: 15px;
    top: 8px;
    border-width: 1px;

    }

    .termos{
        width: 229px;
    height: 48px;
    opacity: 1;
    top: 594px;
    left: 66px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    margin-top: 32px;
    }

    .cadastrar-button{
        width: 201px;
        border-radius: 8px;
        gap: 10px;
        opacity: 1;
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-left: 20px;
        top: 673px;
        left: 80px;

    }

    .cadastro-text{
    width: 90px;
    height: 24px;
    gap: 20px;
    opacity: 1;
    top: 21px;
    left: 103px;

    }

    .login-button{
    width: 201px;
    height: 37px;
    border-radius: 8px;
    gap: 10px;
    opacity: 1;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    top: 673px;
    left: 80px;
    }
}